<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Home page</h1>
	<textarea rows="" cols="" id="txt1">
		
	</textarea>
	<br>
	<button onclick="test()">Test</button>

	<script th:src="@{/ckeditor/ckeditor.js}"></script>
	<script>
		CKEDITOR
				.replace(
						'txt1',
						{
							filebrowserBrowseUrl : 'ckfinder/ckfinder.html',
							filebrowserImageBrowseUrl : 'ckfinder/ckfinder.html?type=Images',
							filebrowserFlashBrowseUrl : 'ckfinder/ckfinder.html?type=Flash',
							filebrowserUploadUrl : 'ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
							filebrowserImageUploadUrl : 'ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
							filebrowserFlashUploadUrl : 'ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
						});
		function test(){
			var str=CKEDITOR.instances.txt1.getData();
			alert(str);
		}
	</script>
</body>
</html>